.mainNav {
  width: 90%;
  height: 85px;
  position: absolute;
  background: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  max-width: 1600px;

  .leftSide {
    width: 50%;
    h2 {
      font-size: 2rem;
    }
  }

  .rightSide {
    width: 50%;

    
    button {
      display: none;
    }
    
    .navLinks {
      height: 54px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .active {
        border-bottom: solid 2px rgb(199, 29, 29);
      }
      
      a {
        text-decoration: none;
        color: #000;
        font-size: 1rem;
      }
      
      a:hover {
        border-bottom: solid 2px #000;
      }
      
      .mobileLinks {
        display: none;
      }
    }
  }
}


@media only screen and (min-width: 0) and (max-width: 650px) {
  .mainNav {
    .rightSide {
      display: flex;
      justify-content: flex-end;

      button {
        display: block;
        background: none;
        border: none;
        height: 30px;
        width: 30px;
        z-index: 1;
      }

      .navLinks {
        display: none;
      }
    }
  }
  .mobileLinks {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: #000;
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 650px) {
}
